*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.directory
*.swp*
*~
~*
*.kate-swp
*.db
lib/config/test.yml
lib/tau/y_test.rb

